*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #FFB6B9;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #003366;
    font-size: 2.5vw;
    text-align: center;
    text-decoration-line: overline underline;
    text-decoration-style:double;
}
.container{
    border-radius: 2vw;
    background-color: #FFDDC1;
    padding: 2vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.units{
    width: 7vw;
    margin: 1vw;
    height: 2.5vw;
    border-radius: 0.5rem;
    font-size: 1vw;
    border: 2px solid #FF7F50;
    color: #ffffff;
    cursor: pointer;
    background: #FF7F50;
    transition: background 0.3s ease;
}
.units:hover {
    background: #FF6347 ;
}
#US_Units{
    margin-left: 0;
}
p{
    color:  #4F4A47;
    display: inline-block;
    margin-top: 1vw;
    font-size: 1.5vw;
}
input{
    color: #003366;
    border: 2px solid #FFEB99;
    padding: 0.5vw;
    font-size: 1vw;
    border-radius: 0.5rem;
    margin-left: 1vw;
    background-color: #D1E8E2;
}
#age,#input1,#input2,#weight{
    width: 5vw;
}
input[type="radio"]{
    transform: scale(1.5);
    margin: 0.5vw;
    accent-color: #40E0D0; 
}
.units{
    padding: 0.3rem;
}
#calculate{
    padding: 0.5vw;
    border-radius: 0.5vw;
    margin-top: 2vw;
    margin-left: 6vw;
    background: #40E0D0;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.5vw;
}
#calculate:hover {
    background: #30B0A1;
}
#result{
    font-size: 2vw;
    margin-top: 1vw;
    font-weight: bold;
    color: #4CAF50;
}


@media(max-width:768px){
    h1{
        font-size: 8vw;
        text-align: center;
    }
    .container{
        border-radius: 2vw;
        padding: 2.5vw;
    }
    .units{
        margin-top: 5vw;
        width: 30vw;
        height: 10vw;
        border-radius: 0.5rem;
        font-size: 5vw;
    }
    #US_Units{
        margin-left: 0;
    }
    p{
        margin-top: 5vw;
        font-size: 5.5vw;
    }
    input{
        border: 2px solid #5b86e5;
        padding: 2.5vw;
        font-size: 4vw;
        border-radius: 0.5rem;
        margin-left: 1vw;
    }
    #age,#input1,#input2,#weight{
        width: 25vw;
    }
    input[type="radio"]{
        transform: scale(2.5);
        margin: 2vw;
    }
    .units{
        padding: 0.3rem;
    }
    #calculate{
        font-size: 5vw;
        padding: 1.5vw;
        border-radius: 1vw;
        margin-top: 10vw;
        margin-left: 23vw;
    }
    #result{
        font-size: 8vw;
        margin-top: 10vw;
    }
}

@media(max-width:768px){
    h1{
        font-size: 4vw;
    }
    .container{
        padding: 2.5vw;
    }
    .units{
        width: 15vw;
        margin: 1vw;
        height: 5vw;
        border-radius: 0.5rem;
        font-size: 2vw;
    }
    p{
        margin-top: 2vw;
        font-size: 3vw;
    }
    input{
        color: #2d4059;
        padding: 1vw;
        font-size: 2vw;
        border-radius: 0.5rem;
        margin-left: 1vw;
    }
    #age,#input1,#input2,#weight{
        width: 15vw;
    }
    input[type="radio"]{
        transform: scale(1.5);
        margin: 0.5vw; 
    }
    .units{
        padding: 0.3rem;
    }
    #calculate{
        padding: 1.5vw;
        border-radius: 0.5vw;
        margin-top: 5vw;
        margin-left: 14vw;
    }
    #result{
        font-size: 3vw;
        margin-top: 5vw;
    }
}

@media(max-width:360px){
    h1{
        font-size: 8vw;
        text-align: center;
    }
    .container{
        border-radius: 2vw;
        padding: 2.5vw;
    }
    .units{
        margin-top: 5vw;
        width: 30vw;
        height: 10vw;
        border-radius: 0.5rem;
        font-size: 4vw;
    }
    #US_Units{
        margin-left: 0;
    }
    p{
        margin-top: 5vw;
        font-size: 5.5vw;
    }
    input{
        border: 2px solid #5b86e5;
        padding: 2.5vw;
        font-size: 4vw;
        border-radius: 0.5rem;
        margin-left: 1vw;
    }
    #age,#input1,#input2,#weight{
        width: 25vw;
    }
    input[type="radio"]{
        transform: scale(1.2);
        margin: 0.5vw;
    }
    .units{
        padding: 0.3rem;
    }
    #calculate{
        font-size: 5vw;
        padding: 1.5vw;
        border-radius: 1vw;
        margin-top: 10vw;
        margin-left: 23vw;
    }
    #result{
        font-size: 8vw;
        margin-top: 10vw;
    }
}

@media (max-width:352px){
    h1{
        font-size: 8vw;
        text-align: center;
    }
    .container{
        border-radius: 2vw;
        padding: 2.5vw;
    }
    .units{
        margin-top: 5vw;
        width: 30vw;
        height: 10vw;
        border-radius: 0.5rem;
        font-size: 4vw;
    }
    #US_Units{
        margin-left: 0;
    }
    p{
        margin-top: 5vw;
        font-size: 5.5vw;
    }
    input{
        border: 2px solid #5b86e5;
        padding: 2.5vw;
        font-size: 4vw;
        border-radius: 0.5rem;
        margin-left: 1vw;
    }
    #age,#input1,#input2,#weight{
        width: 25vw;
    }
    input[type="radio"]{
        transform: scale(1);
        margin: 0.5vw;
    }
    .units{
        padding: 0.3rem;
    }
    #calculate{
        font-size: 5vw;
        padding: 1.5vw;
        border-radius: 1vw;
        margin-top: 10vw;
        margin-left: 23vw;
    }
    #result{
        font-size: 8vw;
        margin-top: 10vw;
    }
}

@media (max-width:144px){
    h1{
        font-size: 8vw;
        text-align: center;
    }
    .container{
        border-radius: 2vw;
        padding: 2.5vw;
    }
    .units{
        margin-top: 5vw;
        width: 32vw;
        height: 12vw;
        border-radius: 0.5rem;
        font-size: 4vw;
    }
    #US_Units{
        margin-left: 0;
    }
    p{
        margin-top: 5vw;
        font-size: 5.5vw;
    }
    input{
        border: 2px solid #5b86e5;
        padding: 2.5vw;
        font-size: 4vw;
        border-radius: 0.5rem;
        margin-left: 1vw;
    }
    #age,#input1,#input2,#weight{
        width: 25vw;
    }
    input[type="radio"]{
        transform: scale(0.5);
        margin-top: 2vw;
    }
    .units{
        padding: 0.3rem;
    }
    #calculate{
        font-size: 5vw;
        padding: 1.5vw;
        border-radius: 1vw;
        margin-top: 10vw;
        margin-left: 23vw;
    }
    #result{
        font-size: 8vw;
        margin-top: 10vw;
    }
}
